# Backend
backend/__pycache__/
backend/uploads/*
backend/*.pyc
backend/.env
backend/venv/
backend/uploads/

# Frontend
frontend/node_modules/
frontend/.env
frontend/coverage/
frontend/.DS_Store
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
# Local Netlify folder
.netlify
